<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome =1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="总裁班,总裁班培训,总裁培训,高管培训,企业培训" name="Keywords" />
    <meta name="description"
          content="我爱上课网，汇集国内外各大知名学府总裁研修班，以及环球杰出的企业家俱乐部。企业家培训，总裁班培训请选择我爱上课网！专门为您搭建“高”“精”“尖”的培训网络，我爱上课网只做有格调的总裁班，为你打造高精尖的培训。" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mobile.css" />

    <link href="~/lib/dialog2/css/dialog.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" id="navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-xs-6 logo">
                    <img src="~/images/logo.png" alt="logo" />
                </div>
                <div class="col-md-8 col-xs-6 text-right"
                     style="position: relative; height: 55px; padding-right: 0px;">
                    <div class="user_box">
                        <img style="height: 29px;" src="~/images/reg_login.png" alt="reg_login" />

                        @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                        {
                            <text>欢迎，@(ViewContext.HttpContext.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value)</text>
                        }
                        else
                        {
                            <a asp-controller="account" asp-action="index" style="display: inline-block; ">登录/注册</a>
                        }
                    </div>

                </div>
            </div>
        </div>
    </nav>

    @RenderBody()


    <div class="container">
        <div class="row" style="margin: 10px 0px 0px;">
            <div class="col-lg-12 text-center" style="padding:0px;">
                <h4>请与我们联系</h4>
                <p style="font-size:6px;margin:4px 0px;">如果您或您的企业想要提升。给我们一个电话或邮件，我们会尽快满足您的要求！</p>
            </div>
        </div>

        <div class="row" style="margin:8px 0px 0px;">
            <div class="col-xs-6"
                 style="padding: 0px;">
                <h4 style="font-size:13px;">招生咨询</h4>
                <div style="margin:8px 0px 0px;border-right: 1px solid #000;">
                    <i class="fa fa-phone fa-2x wow bounceIn pull-left"></i>
                    <div>
                        <span style="font-size: 9px; display: block">全国统一招生及课程咨询热线</span>
                        <span style="font-size: 12px;letter-spacing:2px; display: block">021-80198325</span>
                    </div>
                </div>
                <p class="clearfix text-left" style="margin-top:-3px;border-right: 1px solid #000;">
                    <span style="font-size: 12px;letter-spacing:1.4px;">
                        <a href="mailto:kevin@5-ask.com">kevin@5-ask.com</a>
                    </span>
                </p>
            </div>
            <div class="col-xs-6" style="padding: 0px;">
                <h4 style="font-size:13px;">资料下载</h4>
                <p style="font-size: 9px;margin:8px 0px;">
                    <a href="/download?fileName=【我爱上课】环球CEO高层智慧研修班报名表.docx">【环球CEO高层智慧研修班】报名表</a>
                </p>
                <p style="font-size: 8px;margin:0px">
                    <a href="javascript:void(0);">【心理学与幸福企业高层智慧研修班】报名表</a>
                </p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-xs-4">
                <div class="qrcode">
                    <img class="img-responsive"
                         src="~/images/wx_qr.jpg"
                         alt="wxqrcode" />
                </div>
                <p style="margin:5px 0px 10px;font-size:9px;">官方微信公众号</p>
            </div>
            <div class="col-xs-4">
                <div class="qrcode">
                    <img class="img-responsive"
                         src="~/images/wb_qr.jpg"
                         alt="wbqrcode" />
                </div>
                <p style="margin:5px 0px 10px;font-size:9px;">官方新浪微博号</p>
            </div>
            <div class="col-xs-4">
                <div class="qrcode">
                    <img class="img-responsive"
                         src="~/images/dy_qr.jpg"
                         alt="dyqrcode" />
                </div>
                <p style="margin:5px 0px 10px;font-size:9px;">官方抖音号</p>
            </div>
        </div>

        <div class="row text-center" style="font-size:8px;">
            <p>Copyright &copy; 敏太文化 2015 沪ICP备15053877</p>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/dialog2/js/dialog.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
