<div class="row" id="nav">
    <table class="table">
        <tr>
            <td style="border-top: unset; border-right: 1px solid #fff; border-bottom: 1px solid #fff;">
                <a href="/#qiyejieshao">企业介绍</a>
            </td>
            <td style="border-top: unset; border-right: 1px solid #fff; border-bottom: 1px solid #fff;">
                <a href="/#gongkaike">公开课</a>
            </td>
            <td style="border-top: unset; border-bottom: 1px solid #fff;">
                <a href="/#kechengyudingzhi">课程与定制</a>
            </td>
        </tr>
        <tr>
            <td style="border-top: 1px solid #fff; border-right: 1px solid #fff;">
                <a href="https://app550xdol84622.h5.xiaoeknow.com">线上学习</a>
            </td>
            <td style="border-top: 1px solid #fff; border-right: 1px solid #fff;">
                <a href="/#yuanxiao">
                    院<span style="width: 16px; display: inline-flex;"></span>校
                </a>
            </td>
            <td style="border-top: 1px solid #fff;">
                <a href="/#zhuanjiayuxiaoyou">专家与校友</a>
            </td>
        </tr>
    </table>
</div>