<div class="col-sm-2">
    <div class="sidebar-module text-right">
        <h4 style="padding-right:25px;">我的</h4>
        <ol class="list-unstyled">
            <li><a asp-action="index" asp-controller="my">分类</a></li>
            <li><a asp-action="pic" asp-controller="my">图片</a></li>
            <li><a asp-action="mp" asp-controller="my">视频</a></li>
            @*<li><a href="#">帖子</a></li>*@
            <li><a asp-action="articles" asp-controller="my">文章</a></li>
        </ol>
    </div>
</div>