@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "课程与定制，我爱上课";
}

<partial name="_Nav" />

<div class="row">
    <div class="container">
        <h2 class="col-lg-12 title">
            <strong>课程与定制</strong>
        </h2>

        <div class="row qt">
            <h4>企业定制</h4>
            <p style="text-indent: 2em;">
                以企业现状为基础，根据企业阶段需要定制企业内训计划，结合企业期望达成的绩效指标，落地实施安排授课讲师，时间和地点等，
                最大限度地切合企业实际需要，确保更实、更精确的培训效果。所有课程体系内训主题用于企业内训定制课程时，核心内容根据企业发展历程，
                企业文化，企业产品特点，企业销售模式，团队实际阶段，员工学习成长需求，进行定制化管理技能内训、营销内训、沟通技巧内训、
                销售管理内训、员工管理内训、绩效培训内训等内容设计研发，确保实现针对性培训课程，完成企业培训实战到实效性的应用。
            </p>
        </div>

        <div class="row qt">
            <h4>海外游学</h4>
            <p style="text-indent: 2em;">
                随着经济和时代的变化，现在越来越多的人也因想了解国外的风土人情和生活方式等参加游学。拓宽孩子的国际视野，
                丰富孩子的人生阅历，增强孩子的主动性，培养孩子的个性以及国际化、多元化的文化理念和思维习惯；训练相对独立生存能力、
                相对自主理财能力，使他们自己学会和思考怎样与人合作；接受西方先进教育体系、教育理念的熏陶，感受西方独特的教学风格，
                为今后出国留学等更长远的发展奠定扎实的基础。游学是成熟的一种国际性跨文化体验式教育模式。 “读万卷书，不如行万里路”正是游学的深刻体现。
            </p>
        </div>

        <div class="row qt">
            <h4>事业单位培训</h4>
            <p style="text-indent: 2em;">
                事业单位培训是全国性的对由国家设立的社会服务组织的人进行初任、任职、更新知识和专门业务培训。培训是一项严格有序、
                有组织的行政人才资源开发，目的是在于不断提高广大事业单位员工的政治思想水平和业务能力，改善其素质结构，
                使之与社会发展和岗位规范的要求协调一致，以大大提高事业机构的工作效率。专业系统的事业单位员工培训是加强事业单位能力建设的重要途径，
                是增强事业单位竞争能力、建设一个强有力政府的关键,使其具备必要的知识和技能，直接关系到国家政权基础的牢固、
                国家竞争力的提高和国家重要智力资本的开发与储备。
            </p>
        </div>

    </div>
</div>