@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "专家与校友，我爱上课";
}

<partial name="_Nav" />

<div class="row">
    <div class="container">
        <h2 class="col-lg-12 title">
            <strong>部分专家</strong>
        </h2>
        <div class="row mb-25">
            <img class="img-responsive" alt="部分专家" src="~/images/zhuangjia.jpg" />
        </div>

        <h2 class="col-lg-12 title">
            <strong>部分校友</strong>
        </h2>
        <div class="row mb-25">
            <img class="img-responsive" alt="部分校友" src="~/images/xiaoyou.jpg" />
        </div>

    </div>
</div>