@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "在线学习，随时随地学习提升， 我爱上课";
}

<partial name="_Nav" />

<div class="row">
    <div class="container">
        <h2 class="col-lg-12 title">
            <strong>线上学习</strong>
        </h2>
        <div class="col-lg-4 mb-4 text-center" style="padding:0px;">
            <p style="height: 195px; display: flex; justify-content: center; align-items: center; border: 1px solid #000;">视频正在制作中，敬请期待……</p>
        </div>
        <p class="text-center">哈佛谈判课----熊治</p>
        <div class="col-lg-4 mb-4 text-center" style="padding:0px;">
            <p style="height: 195px; display: flex; justify-content: center; align-items: center; border: 1px solid #000;">视频正在制作中，敬请期待……</p>
        </div>
        <p class="text-center">互联网商业模式创新----陆建平教授</p>

        <div class="col-lg-4 mb-4 text-center" style="padding:0px;">
            <p style="height: 195px; display: flex; justify-content: center; align-items: center; border: 1px solid #000;">视频正在制作中，敬请期待……</p>
        </div>
        <p class="text-center">消费心理学----谢君教授</p>
    </div>
</div>