@{

}
<div class="carousel">
    <img src="~/images/jt-carousel.jpg" class="img-responsive" />
</div>
<div class="row" id="nav">
    <table class="table">
        <tr>
            <td style="border-top: unset; border-right: 1px solid #fff; border-bottom: 1px solid #fff;">
                <a href="http://mt.5-ask.com" target="blank">敏太文化</a>
            </td>
            <td style="border-top: unset; border-right: 1px solid #fff; border-bottom: 1px solid #fff;">
                <a href="http://www.5-ask.com" target="blank">我爱上课</a>
            </td>
            <td style="border-top: unset; border-bottom: 1px solid #fff;">
                <a href="http://fruit.5-ask.com" target="blank">我爱果庄</a>
            </td>
        </tr>
    </table>
</div>
<div class="row region">
    <div class="container">
        <h2 class="col-lg-12 title">
            <strong>企业介绍</strong>
        </h2>
        <div class="row">
            <video controls="controls" autoplay="autoplay" class="img-responsive" controlslist="nodownload">
                <source src="~/video/propaganda.mp4"
                        type="video/mp4" />
            </video>
        </div>
        <p style="margin-top:10px;font-size:9px;">敏太集团由上海敏太文化传播有限公司、上海浪课企业管理咨询有限公司、上海果庄电子商务有限公司等组成。</p>
    </div>
</div>
