@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "专家与校友，我爱上课";
}

<div class="row region banner"
     style="background-color: #9e3b28; padding: 45px 0px;">
    <img src="~/images/b1.png" alt="我爱上课，遇见更美好的的自己" />
</div>


<div class="row region" style="margin-bottom:95px;">
    <div class="container">
        <h2 class="col-lg-12 text-center" style="font-size: 49px;">
            <strong>专家与校友</strong>
        </h2>
        <p class="dztitle">部分专家</p>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/lijie.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>李 杰—教授</h4>
                        <p>教授、长江学者，上海交通大学先进产业技术研究院院长、工业创新中心主任。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/huangdan.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>黄 丹—教授</h4>
                        <p>上海交大安泰经济与管理学院创新与战略系副教授。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/wangjian.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>王 健—教授</h4>
                        <p>同济大学广告系主任、创新思维研究中心主任，中国创造学会常务理事。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/wangwei.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>王 玮—教授</h4>
                        <p>复旦大学管理学院客座教授，上海跃顺管理咨询有限公司CEO。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/guansuzhe.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>关苏哲—教授</h4>
                        <p>中欧校友电子商务协会理事，上海交通大学客座教授。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/zhouhongming.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>周宏明—教授</h4>
                        <p>上海交通大学EMBA客座教授，艾瑞学院首席顾问。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/huamin.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>华 民—教授</h4>
                        <p>复旦大学世界经济研究所所长、教授、博士生导师。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/jugouyu.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>雎国余—教授</h4>
                        <p>北京大学经济学院常务副院长，现任北京大学经济研究所所长，著名经济学家。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="~/images/fenglun.jpg"
                         width="155px" height="220px">
                    <div class="caption">
                        <h4>冯 仑—企业家</h4>
                        <p>万通地产董事长。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/zhouhongyi.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>周鸿祎—企业家</h4>
                        <p>奇虎360董事长。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/liangxinjun.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>梁信军—企业家</h4>
                        <p>复星集团副董事长兼CEO。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="~/images/yugang.jpg"
                         width="155px" height="220px">
                    <div class="caption">
                        <h4>于 刚—企业家</h4>
                        <p>1号店创始人、董事长。</p>
                    </div>
                </div>
            </div>
        </div>


        <p class="dztitle">部分校友</p>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/linfeng.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>林 峰</h4>
                        <p>旭辉控股集团总裁</p>
                        <p>环球CEO高层智慧研修班首期班长</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/sunqiusheng.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>孙求生</h4>
                        <p>上海双菱电梯工程有限公司董事长</p>
                        <p>环球CEO高层智慧研修班首期副班长</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/zhaoyang.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>赵 洋</h4>
                        <p>深圳联银信息技术有限公司CEO</p>
                        <p>环球CEO高层智慧研修班首期秘书长</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/kelanlan.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>柯岚岚</h4>
                        <p>厦门恒兴集团有限公司董事、副总裁</p>
                        <p>环球CEO高层智慧研修班首期财务委员</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/laijianchang.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>赖建昌</h4>
                        <p>中通快递股份有限公司副总裁</p>
                        <p>环球CEO高层智慧研修班首期同学代表</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/guonannan.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>郭楠楠</h4>
                        <p>新城控股集团副总裁</p>
                        <p>环球CEO高层智慧研修班首期学习委员</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/chenxiaoyan.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>陈小燕</h4>
                        <p>上海弘商毅道体育文化有限公司CEO</p>
                        <p>环球CEO高层智慧研修班首期副秘书长</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="~/images/zhanglei.jpg"
                         width="155px" height="220px">
                    <div class="caption">
                        <h4>张 磊</h4>
                        <p>奥兰德建设工程有限公司董事长</p>
                        <p>环球CEO高层智慧研修班首期组织委员</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/yangfeng.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>杨 锋</h4>
                        <p>上海都易建筑设计有限公司总经理</p>
                        <p>环球CEO高层智慧研修班首期学员</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/fuyu.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>付 玉</h4>
                        <p>双兴房地产开发有限公司总经理</p>
                        <p>环球CEO高层智慧研修班首期学员</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive"
                         src="~/images/zhonghua.jpg" width="155px"
                         height="220px">
                    <div class="caption">
                        <h4>钟 华</h4>
                        <p>上海民办华二宝山实验学校董事长</p>
                        <p>环球CEO高层智慧研修班首期学员</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="~/images/liuxiaoyu.jpg"
                         width="155px" height="220px">
                    <div class="caption">
                        <h4>刘晓宇</h4>
                        <p>刘氏红木第七代传承人、设计总监</p>
                        <p>环球CEO高层智慧研修班首期学员</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>