@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "在线学习，随时随地学习提升， 我爱上课";
}

<div class="row region banner"
     style="background-color: #f2f2f2; padding: 45px 0px;">
    <img src="~/images/b2.png" alt="我爱上课，遇见更美好的的自己" />
</div>

<div class="row region" style="margin-bottom:100px;">
    <div class="container">
        <h2 class="col-lg-12 text-center" style="font-size: 49px;">
            <strong>线上学习</strong>
        </h2>
        <p class="col-lg-12 text-center title" style="margin-top:0px;">随时随地学习提升</p>

        <div class="onlrow">
            <div class="onlcol"><p class="video">视频正在制作中……</p><span>哈佛谈判课----熊治</span></div>
            <div class="onlcol"><p class="video">视频正在制作中……</p><span>互联网商业模式创新----陆建平教授</span></div>
            <div class="onlcol"><p class="video">视频正在制作中……</p><span>消费心理学----谢君教授</span></div>
        </div>
        <div class="onlrow">
            <div class="onlcol"><p class="video">视频正在制作中……</p><span>情商领导力----叶斌教授</span></div>
            <div class="onlcol"><p class="video">视频正在制作中……</p><span>企业财务与资本运作----魏嶷教授</span></div>
            <div class="onlcol"><p class="video">视频正在制作中……</p><span>和谐家庭与幸福人生----贺岭峰教授</span></div>
        </div>
        <div class="onlrow">
            <div class="onlcol"><p class="video">视频正在制作中……</p><span>企业家精神与文化建设----苏建诚教授</span></div>
            <div class="onlcol"><p class="video">视频正在制作中……</p><span>税制改革及新税法下的企业生存之道----章从大教授</span></div>
            <div class="onlcol"><p class="video">视频正在制作中……</p><span>中小民营企业转型升级与变革----苏建诚教授</span></div>
        </div>
    </div>
</div>