@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "搜索排行版，我爱上课";
}

<div class="row region" style="margin-bottom: 113px;">
    <div class="container">
        <h2 class="col-lg-12 text-center"
            style="font-size: 49px; margin: 5px 0px 55px">
            <strong>排行榜</strong>
        </h2>
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>院校</th>
                        <th>整体日均</th>
                        <th>移动日均</th>
                        <th></th>
                    </tr>
                </thead>

                <tr>
                    <td>清华大学</td>
                    <td>15,500</td>
                    <td>7,000</td>
                    <td><font color="red" size="1">&nbsp;top1</font></td>
                </tr>
                <tr>
                    <td>北京大学</td>
                    <td>13,800</td>
                    <td>6,100</td>
                    <td><font color="green" size="1">&nbsp;top2</font></td>
                </tr>
                <tr>
                    <td>武汉大学</td>
                    <td>13,500</td>
                    <td>6,500</td>
                    <td><font color="green" size="1">&nbsp;top3</font></td>
                </tr>
                <tr>
                    <td>复旦大学</td>
                    <td>11,100</td>
                    <td>5,600</td>
                    <td><font color="green" size="1">&nbsp;top4</font></td>
                </tr>
                <tr>
                    <td>中山大学</td>
                    <td>11,400</td>
                    <td>5,100</td>
                    <td><font color="green" size="1">&nbsp;top5</font></td>
                </tr>
                <tr>
                    <td>浙江大学</td>
                    <td>10,100</td>
                    <td>4,700</td>
                    <td><font color="green" size="1">&nbsp;top6</font></td>
                </tr>
                <tr>
                    <td>上海交大</td>
                    <td>8,830</td>
                    <td>3,840</td>
                    <td><font color="green" size="1">&nbsp;top7</font></td>
                </tr>
                <tr>
                    <td>南京大学</td>
                    <td>8,500</td>
                    <td>4,100</td>
                    <td><font color="green" size="1">&nbsp;top8</font></td>
                </tr>
                <tr>
                    <td>北京电影学院</td>
                    <td>7,600</td>
                    <td>4,500</td>
                    <td><font color="green" size="1">&nbsp;top9</font></td>
                </tr>
                <tr>
                    <td>上海戏剧学院</td>
                    <td>7,300</td>
                    <td>4,600</td>
                    <td><font color="green" size="1">&nbsp;top10</font></td>
                </tr>

            </table>
        </div>
    </div>
</div>