@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "精彩瞬间，我爱上课";
}

<div class="row region banner"
     style="background-color: #f2f2f2; padding: 45px 0px;">
    <img src="~/images/b2.png" alt="我爱上课，遇见更美好的的自己" />
</div>

<div class="row region">
    <div class="container">
        <div class="row">
            <h2 class="col-lg-12 text-center" style="font-size: 49px;">
                <strong>公开课</strong>
            </h2>
            <p class="col-lg-12 text-center title" style="margin-bottom: 28px;">精彩瞬间</p>

        </div>
        <div class="jcrow">
            <div class="jccol text-center">
                <img alt="精彩瞬间" src="~/images/1.jpg" />
            </div>

            <div class="jccol text-center">
                <img alt="精彩瞬间" src="~/images/2.jpg" />
            </div>
        </div>
        <div class="jcrow">
            <div class="jccol text-center">
                <img alt="精彩瞬间" src="~/images/3.jpg" />
            </div>

            <div class="jccol text-center">
                <img alt="精彩瞬间" src="~/images/4.jpg" />
            </div>
        </div>


        <div class="jcrow">
            <div class="jccol text-center">
                <img alt="精彩瞬间" src="~/images/5.jpg" />
            </div>

            <div class="jccol text-center">
                <img alt="精彩瞬间" src="~/images/6.jpg" />
            </div>
        </div>

        <div class="jcrow"
             style="padding-left: 0px; padding-right: 0px; display: block;">
            <img alt="精彩瞬间" src="~/images/7.jpg" />
        </div>

        <div class="jcrow">
            <div class="jccol text-center">
                <img alt="精彩瞬间" src="~/images/8.jpg" />
            </div>

            <div class="jccol text-center">
                <img alt="精彩瞬间" src="~/images/9.jpg" />
            </div>
        </div>

        <div class="jcrow">
            <div class="jccol text-center">
                <img alt="精彩瞬间" src="~/images/10.jpg" />
            </div>

            <div class="jccol text-center">
                <img alt="精彩瞬间" src="~/images/11.jpg" />
            </div>
        </div>
        <div class="jcrow">
            <div class="jccol text-center">
                <img alt="精彩瞬间" src="~/images/12.jpg" />
            </div>

            <div class="jccol text-center">
                <img alt="精彩瞬间" src="~/images/13.jpg" />
            </div>
        </div>
        <div class="jcrow"
             style="padding-left: 0px; padding-right: 0px; margin-bottom: 80px;display:block;">

            <img alt="精彩瞬间" src="~/images/14.jpg" />
        </div>

        <span class="col-lg-12 text-center"
              style="font-size: 25px; margin-bottom: 65px; color: #541a1f;">《环球CEO高层智慧研修班》公开课火热进行中！点击报名……</span>
    </div>
</div>
