@{

}
<div class="header">
    <div class="logo">
        <img src="~/images/logo.png" alt="logo" />
    </div>
    <div class="link">
        <a href="http://mt.5-ask.com" target="blank">上海敏太文化传播有限公司</a>
        <a href="http://www.5-ask.com" target="blank">上海浪课企业管理咨询有限公司</a>
        <a href="http://fruit.5-ask.com" target="blank">上海果庄电子商务有限公司</a>
    </div>
</div>
<div class="footer">
    <img class="img" src="~/images/index.png" alt="bg" />
</div>
