@{
//ViewData["Title"] = "Privacy Policy";
}

@model Article

    <div class="row region" style="margin-bottom: 113px;">
        <div class="container">
            <h2 class="col-lg-12 text-center">
                <strong>@Model.Title</strong>
            </h2>
            <div class="col-lg-12">@Html.Raw(Model.Content)</div>
        </div>
    </div>