@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "我爱果庄，" + Model.Title;
}
@model Article


<partial name="_Nav" />
<section class="container">
    <h3 class="text-center" style="font-weight:bold;">@Model.Title<small style="margin-left:10px;font-size:14px;">@(Model.Likes)赞/@(Model.Replys)回复</small></h3>

    @if (!string.IsNullOrEmpty(Model.Lead))
    {
        <p>导语：@Html.Raw(Model.Lead)</p>
    }
    @Html.Raw(Model.Content)
</section>

@section Scripts{
    <style type="text/css">
        p {
            text-indent: 25px
        }
    </style>
}